
.navBar {
    display: flex;
    align-items: center;
    width: 200vh; 
    background-color: #0C70F2; 
    padding-top: 10px;

    button{
        color: white;
        border: none;
        padding: 10px;
        margin-left: 10px;
        border-radius: 5px 5px 0px 0px;
    }
    button:hover{
        background-color: white;
        color: #0C70F2;
    }
}
